{% extends 'base.html' %}

{% block title %}
SGE - Produtos
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h3 class="display-6">Cadastrar Produtos</h3>

  <div class="card">
    <div class="card-body">
      <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar Produtos</button>
      </form>
    </div>
  </div>

  <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para a lista de produtos</a>
</div>

{% endblock %}