{% extends "base.html" %}

{% block title %}
SGE - Produtos
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h3 class="display-6">Deletar Produtos</h3>

  <div class="card">
    <div class="card-body">
      <p class="card-text">Tem certeza de que deseja excluir o produto <strong>{{ object.title }}</strong>?</p>

      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
      </form>
    </div>
  </div>

  <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para a lista de produtos</a>
</div>
{% endblock content %}